*{
    /* border: solid 1px red; */
    font-family: "Copperplate";
    vertical-align: top;
    position: relative;
    box-sizing: border-box;
  }
  html,body{
    width: 100vw;
    padding: 0px; margin: 0px; /*無邊框*/ 
  }
  body{
    overflow-x: hidden; 
    background-color: #F6E8DB;
  }
  .top{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    display: block;
  
    background: radial-gradient(#B0CCE5, #DBE9F6);
    height: 15vh;
    border-style: none none solid none;
    border-width: 2px;
    border-color: #966C47;
  }
  .title{
    color: #966C47;
    display: inline-block;
  
    font-size: 7vh;
    text-align: left;
    letter-spacing: 1px;
    padding-top: 1.2vh; 
    padding-left: 3vw;
    
    height: 60%;
  }
  .button_click{
    display: inline-block;
    font-size: 3vh;
    border: solid 1px black;
    margin-right: 5vw;
  }
  .top_button{
    position: sticky;
  }
  .down_button{
    position: sticky;
    top: 94%;
    align-items: right;
  }
  .navigation{
    height: 40%;
    left: 2%;
  }
  .button{
    display: inline-block;
    height: 100%;
    
    font-weight: bold;
    font-size: 3vh;
    color: #7F542E;

    padding-left: 1.2vw;
    padding-right: 1.2vw;
    padding-top: 0.8%;
    
    margin-left: 1%;
    
    border-bottom: solid 0.7vh #CDA17A;
  }
  .button:hover{
    background-color: #CDA17A;
  }
  .bottom{
    z-index: 1;
    height: 130vh;
    background-color: #F6E8DB;
  }
  .bottom_left{
    display: inline-block;
    height: 99vh;
    width: 55%;
    left: 2%;
    top: 1vh;
  }
  .bottom_right{
    display: inline-block;
    height: 100%;
    width: 44%;
    top: 1.7%;
  }
  .picture_set{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
  } 
  .picture{
    display: inline-block;

    width: 220px;
    height: 170px;
    /* width: 33%;
    height: 23%; */
    padding: 1.2%;
    overflow: hidden;
    opacity: 1;
  }
  .picture:hover{
    transform: scale(1.1) rotateX(-10deg);
    transition: 0.3s;
    box-shadow: 0 10px 80px rgba(#3B4453, 0.3);
    opacity: 0.5;
    border-radius: 40%;
  }
  .preview{
    display: inline-block;
    position: sticky;

    background-color: #F6E8DB;
    height: 68vh;
    width: 80%;
    
    top: 22%;
    border: solid 1px #966C47;
    box-shadow: 5px 10px 8px 10px #888888;
  }
  @keyframes shake {
    40% { transform: rotate(0deg); }
    45% { transform: rotate(-5deg); }
    55% { transform: rotate(5deg); }
    60% { transform: rotate(0deg); }
  }
  .preview:hover{
    animation: shake 1s 3;
  }
  .preview_inside{
      background-color: white;
      height: 70%;
      width: 90%;
      left: 5%;
      top: 4%;
  }
  